body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333; /* Color de texto base para todo el body */
    background-image: url('assets/inicioImagen.png'); /* Imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
}

#app {
    max-width: 50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco con 20% de transparencia */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    color: #1a4b10; /* Asegura que los títulos sean oscuros */
    text-align: center;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    opacity: 0.8;
}

#buttons-container {
    display: flex;
    justify-content: space-around;
}

#dificultad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

#acciones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 0;
}

.dificultad-btn {
    margin: 10px;
    width: 100%;
    color: #333;
    font-weight: bold;
}

.dificultad-btn.selected {
    border: 1px solid #000000;
    color: white;
}

.dificultad-btn.facil {
    background-color: #92fd77;
}

.dificultad-btn.medio {
    background-color: #fdec52;
}

.dificultad-btn.dificil {
    background-color: #fd6060;
}

#resumen, #test, #resultado, #progreso {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333; /* Asegura que el texto en estas secciones sea oscuro */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#opciones {
    display: grid;
    grid-template-columns: 1fr;  /* Cambiado a 1 columna */
    gap: 10px;
    margin-top: 20px;
}

.opcion {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f8f9fa;
    transition: background-color 0.3s;
    width: 100%;
    text-align: left;
    color: #333; /* Asegura que el texto de las opciones sea oscuro */
}

.opcion:hover {
    background-color: #e9ecef;
}

.correcta {
    background-color: #37fa64;
    border-color: #003f0f;
    color: #ffffff; /* Verde oscuro para respuestas correctas */
}

.incorrecta {
    background-color: #ff4555;
    border-color: #420108;
    color: #ffffff; /* Rojo oscuro para respuestas incorrectas */
}

#siguiente {
    margin-top: 20px;
    display: block;
    width: 100%;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

.pregunta {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.opciones {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.opciones label {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.opciones label:hover {
    background-color: #f0f0f0;
}

#home-page input#tema {
    width: 100%; /* Asegura que el input ocupe todo el ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.loader {
    border: 16px solid #f3f3f3; /* Color de fondo */
    border-top: 16px solid #3498db; /* Color del reloj de arena */
    border-radius: 50%;
    width: 60px; /* Tamaño del indicador */
    height: 60px; /* Tamaño del indicador */
    animation: spin 2s linear infinite; /* Animación de giro */
    margin: auto; /* Centrar el indicador */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
